/* Selector {
  Proprty: value;
} */

body {
  background-image: url(backgroundimg.jpg);
  background-size: cover;
}

h2, p:hover, li:hover {
  color: #AA3939;
  text-align: center;
  border: 5px solid #FFAAAA;
  cursor: pointer;
}

p {
  color: AA3939;
}

li {
  list-style: none;
  display: block;
}

.navbar {
  display: inline-block;
  text-align: right;
}

.webtext {
  color: green
}

.active {
  color: red;
}

.fruitlist {
  list-style: none;
  display: block;
}
