/* Selector {
  Proprty: value;
} */

body {
  background-image: url(backgroundimg.jpg);
  background-size: cover;
}

p:hover, li:hover {
  color: #AA3939;
  text-align: center;
  border: 5px solid #FFAAAA;
  cursor: pointer;
}

p {
  line-height: 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
  font-family: 'Poiret One', cursive;
}

img {
  float: left;
}

footer {
  clear: both;
  text-align: center;
}

li {
  list-style: none;
  display: block;
}

.box-model {
  border: 5px solid red;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  margin: 20px;
}

.navbar {
  display: inline-block;
  text-align: right;
}

.webtext {
  color: green
}

.active {
  color: red;
}

.fruitlist {
  list-style: none;
  display: block;
}
